@charset "UTF-8";
/*! cake.css v0.0.2 | MIT License | github.com/mervynyang/one-cake */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: .67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  color: #000;
  background: #ff0;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
input,
optgroup,
select,
textarea {
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
  color: inherit;
  /* 1 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  cursor: pointer;
  /* 3 */
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type='checkbox'],
input[type='radio'] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type='search'] {
  box-sizing: content-box;
  /* 2 */
  -webkit-appearance: textfield;
  /* 1 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  margin: 0 2px;
  padding: .35em .625em .75em;
  border: 1px solid #c0c0c0;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  padding: 0;
  /* 2 */
  border: 0;
  /* 1 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-spacing: 0;
  border-collapse: collapse;
}

td,
th {
  padding: 0;
}

html * {
  -webkit-tap-highlight-color: transparent;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-size: calc(100vw/37.5);
}

textarea {
  height: auto;
  min-height: 50px;
}

body {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 140%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  padding: 0;
  cursor: auto;
  color: #333;
  background: #fff;
}

div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

/* Lists */
ul,
ol,
dl {
  font-family: inherit;
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 1.11111rem;
  list-style-position: outside;
}

time {
  font-size: 1.275rem;
  color: #9E9E9E;
}

a {
  font-size: inherit;
  line-height: inherit;
  text-decoration: none;
  color: #008CBA;
}

a:hover, a:focus {
  color: #0078a0;
}

a img {
  border: none;
}

p {
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: normal;
  font-style: normal;
  line-height: 1.4;
  margin-top: .3rem;
  margin-bottom: .6rem;
  color: #222;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

hr {
  clear: both;
  height: 0;
  margin: 1.4rem 0;
  border: solid #DDD;
  border-width: 1px 0 0;
}

a, img {
  -webkit-touch-callout: none;
  /* 禁止长按链接与图片弹出菜单 */
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.text-nowrap {
  text-align: nowrap;
}

.primary-bg {
  background-color: #1077CF;
}

.success-bg {
  background-color: #3DCC7E;
}

.danger-bg {
  background-color: #F44336;
}

.dark-bg {
  background-color: #444;
}

.show {
  display: block;
}

.hide {
  display: none !important;
}

.transparent {
  opacity: 0;
}

.invisible {
  visibility: hidden;
}

.left {
  float: left !important;
}

.right {
  float: right !important;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 1.2rem;
  padding-left: 1.2rem;
}

.container:before, .container:after {
  display: table;
  content: ' ';
}

.container:after {
  clear: both;
}

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.center-fixed {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  text-align: center;
}

.center-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  text-align: center;
}

.clearfix:before, .clearfix:after {
  display: table;
  content: ' ';
}

.clearfix:after {
  clear: both;
}

a[class='no-link-style'] {
  text-decoration: none;
  color: inherit;
}

a[class='no-link-style']:focus {
  outline: none;
}

.no-gutter {
  margin: 0 !important;
  padding: 0 !important;
}

.column-1 {
  position: relative;
  float: left;
  width: 8.33333%;
  padding-right: 1rem;
  padding-left: 1rem;
}

.column-2 {
  position: relative;
  float: left;
  width: 16.66667%;
  padding-right: 1rem;
  padding-left: 1rem;
}

.column-3 {
  position: relative;
  float: left;
  width: 25%;
  padding-right: 1rem;
  padding-left: 1rem;
}

.column-4 {
  position: relative;
  float: left;
  width: 33.33333%;
  padding-right: 1rem;
  padding-left: 1rem;
}

.column-5 {
  position: relative;
  float: left;
  width: 41.66667%;
  padding-right: 1rem;
  padding-left: 1rem;
}

.column-6 {
  position: relative;
  float: left;
  width: 50%;
  padding-right: 1rem;
  padding-left: 1rem;
}

.column-7 {
  position: relative;
  float: left;
  width: 58.33333%;
  padding-right: 1rem;
  padding-left: 1rem;
}

.column-8 {
  position: relative;
  float: left;
  width: 66.66667%;
  padding-right: 1rem;
  padding-left: 1rem;
}

.column-9 {
  position: relative;
  float: left;
  width: 75%;
  padding-right: 1rem;
  padding-left: 1rem;
}

.column-10 {
  position: relative;
  float: left;
  width: 83.33333%;
  padding-right: 1rem;
  padding-left: 1rem;
}

.column-11 {
  position: relative;
  float: left;
  width: 91.66667%;
  padding-right: 1rem;
  padding-left: 1rem;
}

.column-12 {
  position: relative;
  float: left;
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
}

.offset-1 {
  margin-left: 8.33333%;
}

.offset-2 {
  margin-left: 16.66667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.33333%;
}

.offset-5 {
  margin-left: 41.66667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.33333%;
}

.offset-8 {
  margin-left: 66.66667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.33333%;
}

.offset-11 {
  margin-left: 91.66667%;
}

.offset-12 {
  margin-left: 100%;
}

.row {
  width: 100%;
  margin: 0 auto;
}

.row:before, .row:after {
  display: table;
  content: ' ';
}

.row:after {
  clear: both;
}

.row .row {
  width: auto;
  max-width: none;
  margin: 0 -1rem;
}

.row .row:before, .row .row:after {
  display: table;
  content: ' ';
}

.row .row:after {
  clear: both;
}

.no-gutter {
  margin: 0 !important;
  padding: 0 !important;
}

.visible-block {
  display: block !important;
}

.visible-block:before, .visible-block:after {
  display: table;
  content: ' ';
}

.visible-block:after {
  clear: both;
}

.table-row {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-spacing: 0;
}

.table-row .cell {
  display: table-cell;
}

.table-row .cell.middle {
  vertical-align: middle;
}

legend {
  font-size: 16px;
  font-weight: 600;
  line-height: inherit;
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  padding: 0;
  color: rgba(0, 0, 0, 0.87);
}

label {
  font-size: 15px;
  font-weight: 700;
  display: inline-block;
  max-width: 100%;
  margin-bottom: .6rem;
  cursor: default;
}

.textfield {
  position: relative;
  display: block;
  margin-bottom: 2rem;
  padding-top: 1.5rem;
}

.textfield > input,
.textfield > textarea {
  font-size: 15px;
  display: block;
  width: 100%;
  height: 32px;
  padding: 0;
  color: rgba(0, 0, 0, 0.87);
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.26);
  border-radius: 0;
  outline: 0;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}

.textfield > input:focus,
.textfield > textarea:focus {
  border-width: 2px;
  border-color: #2196f3;
}

.textfield > input:focus ~ label,
.textfield > textarea:focus ~ label {
  color: #2196f3;
}

.textfield > input:focus {
  height: 33px;
  margin-bottom: -1px;
}

.textfield > label {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5rem;
  position: absolute;
  top: 0;
  display: block;
  overflow-x: hidden;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #bdbdbd;
}

.form-control {
  font-family: inherit;
  font-size: 15px;
  display: block;
  width: 100%;
  height: 3.75rem;
  margin: 0 0 1.2rem 0;
  padding: 0.6rem;
  -webkit-transition: border-color .15s linear, background .15s linear;
  transition: border-color .15s linear, background .15s linear;
  color: rgba(0, 0, 0, 0.75);
  border-width: 1px;
  border-style: solid;
  border-color: #ccc;
  border-radius: 0;
  background-color: #fff;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-appearance: none;
}

.form-control:focus {
  border-color: #999;
  outline: none;
  background-color: #fafafa;
}

.selectfield {
  position: relative;
  display: block;
  margin-bottom: 2rem;
  padding-top: 1.5rem;
}

.selectfield > select {
  font-size: 15px;
  display: block;
  width: 100%;
  height: 32px;
  padding: 0 25px 0 0;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.87);
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.26);
  border-radius: 0;
  outline: 0;
  background-color: transparent;
  box-shadow: none;
  -webkit-appearance: none;
}

.selectfield > select:focus {
  height: 33px;
  margin-bottom: -1px;
  border-width: 2px;
  border-color: #2196f3;
  outline: 0;
}

.selectfield > select:disabled {
  cursor: not-allowed;
  opacity: 1;
  color: rgba(0, 0, 0, 0.26);
  background-color: transparent;
}

.selectfield::after {
  position: absolute;
  top: 30px;
  right: 0;
  width: 0;
  height: 0;
  content: '';
  border-width: 8px 4px 0 4px;
  border-style: solid;
  border-color: #c9c9c9 transparent transparent transparent;
}

.switchfield + .switchfield {
  margin-top: 1rem;
}

.switchfield > input[type='checkbox'] {
  display: none;
}

.switchfield > input[type='checkbox']:checked + label::before {
  opacity: .5;
  background: inherit;
}

.switchfield > input[type='checkbox']:checked + label::after {
  left: 20px;
  background: inherit;
}

.switchfield > label {
  position: relative;
  width: 40px;
  height: 0;
  cursor: pointer;
}

.switchfield > label::before {
  position: absolute;
  width: 40px;
  height: 16px;
  margin-top: -8px;
  content: '';
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  opacity: .3;
  border-radius: 8px;
  background: #111;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.switchfield > label::after {
  position: absolute;
  top: -4px;
  left: -4px;
  width: 24px;
  height: 24px;
  margin-top: -8px;
  content: '';
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border-radius: 1000px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.checkboxfield {
  position: relative;
}

.checkboxfield > input[type='checkbox'] {
  display: none;
}

.checkboxfield > input[type='checkbox']:checked ~ label .box {
  border: none;
  background: #1077CF;
}

.checkboxfield > input[type='checkbox']:checked ~ label .check {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  opacity: 1;
}

.checkboxfield > label {
  margin-bottom: 0;
  padding-left: 30px;
  cursor: pointer;
}

.checkboxfield > label span {
  position: absolute;
  left: 0;
  display: block;
}

.checkboxfield > label .box {
  z-index: 9;
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  background: #fff;
}

.checkboxfield > label .check {
  z-index: 10;
  top: 0;
  left: 7px;
  width: 7px;
  height: 15px;
  opacity: 0;
  border: 2px solid #fff;
  border-top: none;
  border-left: none;
}

.button {
  font-size: 15px;
  font-weight: normal;
  line-height: normal;
  position: relative;
  display: inline-block;
  padding: 1rem 2.2rem;
  cursor: pointer;
  -webkit-user-select: none;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  border-width: 0;
  border-style: solid;
  -webkit-appearance: none;
  color: rgba(0, 0, 0, 0.87);
  background-color: #fff;
}

.button.active, .button:active, .button:focus {
  opacity: .75;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

.button.flat {
  color: #fff;
  background-color: transparent;
  box-shadow: none;
}

.button.flat:hover, .button.flat:active, .button.flat:focus {
  background-color: #f2f2f2;
}

.button:focus {
  outline: none;
}

.button:disabled, .button.disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: .6;
}

.button.radius {
  border-radius: 3px;
}

.button.shadow {
  box-shadow: 0 1.8px 5px 0 rgba(0, 0, 0, 0.26);
}

.button.fab {
  width: 6rem;
  height: 6rem;
  padding: 0;
  border-radius: 1000px;
}

.button.round {
  border-radius: 1000px;
}

.button.block {
  display: block;
  width: 100%;
}

.button.lg {
  font-size: 18px;
  padding: 1.375rem 2.6rem;
}

.button.sm {
  font-size: 12px;
  padding: 0.8rem 1.8rem;
}

.button.primary {
  color: #fff;
  background-color: #1077CF;
}

.button.primary.active, .button.primary:active, .button.primary:focus {
  opacity: .75;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

.button.primary.flat {
  color: #1077CF;
  background-color: transparent;
  box-shadow: none;
}

.button.primary.flat:hover, .button.primary.flat:active, .button.primary.flat:focus {
  background-color: #f2f2f2;
}

.button.success {
  color: #fff;
  background-color: #3DCC7E;
}

.button.success.active, .button.success:active, .button.success:focus {
  opacity: .75;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

.button.success.flat {
  color: #3DCC7E;
  background-color: transparent;
  box-shadow: none;
}

.button.success.flat:hover, .button.success.flat:active, .button.success.flat:focus {
  background-color: #f2f2f2;
}

.button.danger {
  color: #fff;
  background-color: #F44336;
}

.button.danger.active, .button.danger:active, .button.danger:focus {
  opacity: .75;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

.button.danger.flat {
  color: #F44336;
  background-color: transparent;
  box-shadow: none;
}

.button.danger.flat:hover, .button.danger.flat:active, .button.danger.flat:focus {
  background-color: #f2f2f2;
}

.button.dark {
  color: #fff;
  background-color: #444;
}

.button.dark.active, .button.dark:active, .button.dark:focus {
  opacity: .75;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

.button.dark.flat {
  color: #444;
  background-color: transparent;
  box-shadow: none;
}

.button.dark.flat:hover, .button.dark.flat:active, .button.dark.flat:focus {
  background-color: #f2f2f2;
}

.button.white {
  color: #111;
  background-color: #fff;
}

.button.white.active, .button.white:active, .button.white:focus {
  opacity: .75;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

.button.white.flat {
  color: #fff;
  background-color: transparent;
  box-shadow: none;
}

.button.white.flat:hover, .button.white.flat:active, .button.white.flat:focus {
  background-color: #f2f2f2;
}

.button.block + .button.block {
  margin-top: 1.5rem;
}

.well.dark {
  border-color: #e3e3e3;
  background-color: #353030;
  color: #fff;
}

.well.primary {
  border-color: #bcdff1;
  background-color: #d9edf7;
}

.well.danger {
  border-color: #e3e3e3;
  background-color: #f2dede;
}

.well.success {
  border-color: #d0e9c6;
  background-color: #dff0d8;
}

.well {
  min-height: 1.8rem;
  margin-bottom: 2rem;
  padding: 1.85rem;
  color: #333;
  border: 1px solid #e3e3e3;
  border-radius: 0;
  background-color: #f5f5f5;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.well.sm {
  padding: 1rem;
}

.well.lg {
  padding: 2.4rem;
}

.well.radius {
  border-radius: 4px;
}

.list-group {
  margin: 0 0 1rem;
  padding-left: 0;
  list-style: none;
}

.list-group .item {
  position: relative;
  display: block;
  margin-bottom: -1px;
  padding: 1rem 1.5rem;
  border: 1px solid #ddd;
  background-color: #fff;
}

.list-group .item > .badge {
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  display: inline-block;
  float: right;
  min-width: 1rem;
  padding: .3rem .7rem;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  color: #fff;
  border-radius: 10px;
  background-color: #908d8d;
}

.list-group .item.active, .list-group .item.active:focus, .list-group .item.active:hover {
  color: #fff;
  background-color: #1077CF;
}

.list-group.radius .item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.list-group.radius .item:last-child {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.list-group a.item:focus,
.list-group a.item:hover,
.list-group button.item:focus,
.list-group button.item:hover {
  text-decoration: none;
  color: #555;
  background-color: #f5f5f5;
}

.list-group a {
  color: #333;
}

.card {
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 0;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 2px 0 rgba(0, 0, 0, 0.12);
}

.panel {
  margin-bottom: 2rem;
  border: 1px solid transparent;
  border-color: #ddd;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel.radius {
  border-radius: 4px;
}

.panel.radius .panel-heading {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.panel.radius .panel-footer {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.panel-heading {
  padding: 1rem 1.5rem;
  color: #333;
  border-color: #ddd;
  border-bottom: 1px solid transparent;
  background-color: #f5f5f5;
}

.panel-body {
  padding: 1.5rem;
}

.panel-footer {
  padding: 1rem 1.5rem;
  border-top: 1px solid #ddd;
  background-color: #f5f5f5;
}

.panel-title {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 0;
  color: inherit;
}

.tabs {
  overflow-x: auto;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  white-space: nowrap;
  background-color: transparent;
}

.tabs > li {
  display: inline-block;
}

.tabs > li > a {
  font-size: 14px;
  font-weight: 500;
  line-height: 5rem;
  display: block;
  height: 5rem;
  padding-right: 2.5rem;
  padding-left: 2.5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  white-space: nowrap;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.87);
}

.tabs > li.active {
  border-bottom: 2px solid #2196f3;
}

.tabs > li.active > a {
  color: #2196f3;
}

.tabs.justified {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.tabs.justified > li {
  display: table-cell;
  text-align: center;
}

img {
  display: inline-block;
  vertical-align: middle;
}

.img-block, .img-group img {
  display: block;
  width: 100%;
}

.img-group {
  max-width: 100%;
  margin-bottom: 2rem;
}

.img-group img {
  margin-top: 1rem;
}

.img-circle {
  border-radius: 1000px;
  -o-object-fit: cover;
     object-fit: cover;
}

.img-radius {
  border-radius: 4px;
  -o-object-fit: cover;
     object-fit: cover;
}

.whiteframe-1dp {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.whiteframe-2dp {
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
}

.whiteframe-3dp {
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 3px 3px -2px rgba(0, 0, 0, 0.12);
}

.whiteframe-4dp {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.whiteframe-5dp {
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
}

.whiteframe-6dp {
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

.whiteframe-7dp {
  box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2), 0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12);
}

.whiteframe-8dp {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.whiteframe-9dp {
  box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.2), 0px 9px 12px 1px rgba(0, 0, 0, 0.14), 0px 3px 16px 2px rgba(0, 0, 0, 0.12);
}

.whiteframe-10dp {
  box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, 0.2), 0px 10px 14px 1px rgba(0, 0, 0, 0.14), 0px 4px 18px 3px rgba(0, 0, 0, 0.12);
}

.whiteframe-11dp {
  box-shadow: 0px 6px 7px -4px rgba(0, 0, 0, 0.2), 0px 11px 15px 1px rgba(0, 0, 0, 0.14), 0px 4px 20px 3px rgba(0, 0, 0, 0.12);
}

.whiteframe-12dp {
  box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 12px 17px 2px rgba(0, 0, 0, 0.14), 0px 5px 22px 4px rgba(0, 0, 0, 0.12);
}

.whiteframe-13dp {
  box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 13px 19px 2px rgba(0, 0, 0, 0.14), 0px 5px 24px 4px rgba(0, 0, 0, 0.12);
}

.whiteframe-14dp {
  box-shadow: 0px 7px 9px -4px rgba(0, 0, 0, 0.2), 0px 14px 21px 2px rgba(0, 0, 0, 0.14), 0px 5px 26px 4px rgba(0, 0, 0, 0.12);
}

.whiteframe-15dp {
  box-shadow: 0px 8px 9px -5px rgba(0, 0, 0, 0.2), 0px 15px 22px 2px rgba(0, 0, 0, 0.14), 0px 6px 28px 5px rgba(0, 0, 0, 0.12);
}

.whiteframe-16dp {
  box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2), 0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
}

.whiteframe-17dp {
  box-shadow: 0px 8px 11px -5px rgba(0, 0, 0, 0.2), 0px 17px 26px 2px rgba(0, 0, 0, 0.14), 0px 6px 32px 5px rgba(0, 0, 0, 0.12);
}

.whiteframe-18dp {
  box-shadow: 0px 9px 11px -5px rgba(0, 0, 0, 0.2), 0px 18px 28px 2px rgba(0, 0, 0, 0.14), 0px 7px 34px 6px rgba(0, 0, 0, 0.12);
}

.whiteframe-19dp {
  box-shadow: 0px 9px 12px -6px rgba(0, 0, 0, 0.2), 0px 19px 29px 2px rgba(0, 0, 0, 0.14), 0px 7px 36px 6px rgba(0, 0, 0, 0.12);
}

.whiteframe-20dp {
  box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.2), 0px 20px 31px 3px rgba(0, 0, 0, 0.14), 0px 8px 38px 7px rgba(0, 0, 0, 0.12);
}

.whiteframe-21dp {
  box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.2), 0px 21px 33px 3px rgba(0, 0, 0, 0.14), 0px 8px 40px 7px rgba(0, 0, 0, 0.12);
}

.whiteframe-22dp {
  box-shadow: 0px 10px 14px -6px rgba(0, 0, 0, 0.2), 0px 22px 35px 3px rgba(0, 0, 0, 0.14), 0px 8px 42px 7px rgba(0, 0, 0, 0.12);
}

.whiteframe-23dp {
  box-shadow: 0px 11px 14px -7px rgba(0, 0, 0, 0.2), 0px 23px 36px 3px rgba(0, 0, 0, 0.14), 0px 9px 44px 8px rgba(0, 0, 0, 0.12);
}

.whiteframe-24dp {
  box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
}
