@mixin clearfix {
    &:before,
    &:after {
        display: table;

        content: ' ';
    }
    &:after {
        clear: both;
    }
}

@mixin text-align-style($text-align-style) {
    .text-#{$text-align-style} {
        text-align: $text-align-style;
    }
}

@each $text-align-style-item in center, left, right, justify, nowrap {
    @include text-align-style($text-align-style-item);
}

@mixin main-color-bg($main-color) {
    background-color: $main-color;
}

@mixin center-absolute {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate3d(-50%, -50%, 0);
    text-align: center;
}

@mixin center-fixed {
    position: fixed;
    top: 50%;
    left: 50%;

    transform: translate3d(-50%, -50%, 0);
    text-align: center;
}

.primary-bg {
    @include main-color-bg($primary-color);
}
.success-bg {
    @include main-color-bg($success-color);
}
.danger-bg {
    @include main-color-bg($danger-color);
}
.dark-bg {
    @include main-color-bg($dark-color);
}

.show {
    display: block;
}

.hide {
    display: none !important;
}

.transparent {
    opacity: 0;
}

.invisible {
    visibility: hidden;
}

.left {
    float: left !important;
}

.right {
    float: right !important;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 1.2rem;
    padding-left: 1.2rem;

    @include clearfix();
}

.center-block {
    display: block;

    margin-right: auto;
    margin-left: auto;
}

.center-fixed {
    @include center-fixed();
}

.center-absolute {
    @include center-absolute();
}

.clearfix {
    @include clearfix();
}

a[class='no-link-style'] {
    text-decoration: none;

    color: inherit;
    &:focus {
        outline: none;
    }
}

.no-gutter {
    margin: 0 !important;
    padding: 0 !important;
}
