$button-radius: 3px;
$button-box-shadow: 0 1.8px 5px 0 rgba(0, 0, 0, .26);
$button-padding-horizontal-default: 2.2rem;
$button-padding-vertical-default: 1rem;
$button-fontsize-default: 15px;
$button-padding-horizontal-sm: 1.8rem;
$button-padding-vertical-sm: .8rem;
$button-fontsize-sm: 12px;
$button-padding-horizontal-large: 2.6rem;
$button-padding-vertical-large: 1.375rem;
$button-fontsize-large: 18px;

@mixin button-bg-color($bg-color, $color: #fff) {
    color: $color;
    background-color: $bg-color;
    &.active,
    &:active,
    &:focus {
        opacity: .75;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .4);
    }
    &.flat {
        color: $bg-color;
        background-color: transparent;
        box-shadow: none;
        &:hover,
        &:active,
        &:focus {
            background-color: #f2f2f2;
        }
    }
}

@mixin button-size($size) {
    @if $size==large {
        font-size: $button-fontsize-large;

        padding: $button-padding-vertical-large $button-padding-horizontal-large;
    }
    @else if $size==sm {
        font-size: $button-fontsize-sm;

        padding: $button-padding-vertical-sm $button-padding-horizontal-sm;
    }
}

.button {
    font-size: $button-fontsize-default;
    font-weight: normal;
    line-height: normal;

    position: relative;

    display: inline-block;

    padding: $button-padding-vertical-default $button-padding-horizontal-default;

    cursor: pointer;
    -webkit-user-select: none;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;

    border-width: 0;
    border-style: solid;

    -webkit-appearance: none;
    @include button-bg-color(#fff, $default-text-color);
    &:focus {
        outline: none;
    }
    &:disabled,
    &.disabled {
        cursor: not-allowed;
        pointer-events: none;

        opacity: .6;
    }
    &.radius {
        border-radius: $button-radius;
    }
    &.shadow {
        box-shadow: $button-box-shadow;
    }
    &.fab {
        width: 6rem;
        height: 6rem;
        padding: 0;

        border-radius: 1000px;
    }
    &.round {
        border-radius: 1000px;
    }
    &.block {
        display: block;

        width: 100%;
    }
    &.lg {
        @include button-size(large);
    }
    &.sm {
        @include button-size(sm);
    }
    &.primary {
        @include button-bg-color($primary-color);
    }
    &.success {
        @include button-bg-color($success-color);
    }
    &.danger {
        @include button-bg-color($danger-color);
    }
    &.dark {
        @include button-bg-color($dark-color);
    }
    &.white {
        @include button-bg-color(#fff, #111);
    }
    &.block + &.block {
        margin-top: 1.5rem;
    }
}
