$button-radius: 3px;
$button-box-shadow: 0 1.8px 5px 0 rgba(0, 0, 0, .26);
$button-padding-horizontal-default: 2.2rem;
$button-padding-vertical-default: 1rem;
$button-fontsize-default: 1.5rem;
$button-padding-horizontal-sm: 1.8rem;
$button-padding-vertical-sm: 0.8rem;
$button-fontsize-sm: 1.25rem;
$button-padding-horizontal-large: 2.6rem;
$button-padding-vertical-large: 1.375rem;
$button-fontsize-large: 1.8rem;

@mixin button-bg-color($bg-color, $color:#fff) {
    background-color: $bg-color;
    color: $color;
    &.active,
    &:active,
    &:focus {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .4);
        opacity: .75;
    }
    &.flat {
        background-color: transparent;
        color: $bg-color;
        box-shadow: none;
        &:hover,
        &:active,
        &:focus {
            background-color: #f2f2f2;
        }
    }
}

@mixin button-size($size) {
    @if $size==large {
        padding: $button-padding-vertical-large $button-padding-horizontal-large;
        font-size: $button-fontsize-large;
    }
    @else if $size==sm {
        padding: $button-padding-vertical-sm $button-padding-horizontal-sm;
        font-size: $button-fontsize-sm;
    }
}

.button {
    -webkit-appearance: none;
    -webkit-user-select: none;
    display: inline-block;
    border-style: solid;
    border-width: 0;
    font-weight: normal;
    line-height: normal;
    position: relative;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    cursor: pointer;
    padding: $button-padding-vertical-default $button-padding-horizontal-default;
    font-size: $button-fontsize-default;
    box-shadow: $button-box-shadow;
    @include button-bg-color(#fff, $default-text-color);

    &:focus {
        outline: none;
    }
    &:disabled,
    &.disabled {
        cursor: not-allowed;
        pointer-events: none;
        opacity: .6;
    }
    &.radius {
        border-radius: $button-radius;
    }
    &.fab {
        width: 6rem;
        height: 6rem;
        padding: 0;
        border-radius: 1000px;
    }
    &.round {
        border-radius: 1000px;
    }
    &.block {
        display: block;
        width: 100%;
    }
    &.large {
        @include button-size(large);
    }
    &.sm {
        @include button-size(sm);
    }
    &.primary {
        @include button-bg-color($primary-color);
    }
    &.success {
        @include button-bg-color($success-color);
    }
    &.danger {
        @include button-bg-color($danger-color);
    }
    &.dark {
        @include button-bg-color($dark-color);
    }
    &.block + &.block {
        margin-top: 1.5rem;
    }
}


/*button group*/

// .button-group {
//     list-style: none;
//     margin: 0 0 1rem;
//     left: 0;
//     @include clearfix();
// }
// .button-group > li {
//     float: left;
//     display: inline-block;
//     margin: 0 -2px;
//     &:first-child {
//         .button {
//             border-left: 0;
//         }
//     }
//     .button {
//         border-color: rgba(255, 255, 255, 0.5);
//         border-left: 1px solid;
//     }
//     &.radius > li {
//         &:first-child {
//             .button {
//                 border-bottom-left-radius: $button-radius;
//                 border-top-left-radius: $button-radius;
//             }
//         }
//         &:last-child {
//             .button {
//                 border-bottom-right-radius: $button-radius;
//                 border-top-right-radius: $button-radius;
//             }
//         }
//         &.round > li {
//             &:first-child {
//                 .button {
//                     border-bottom-left-radius: 1000px;
//                     border-top-left-radius: 1000px;
//                 }
//             }
//             ;
//             &:last-child {
//                 .button {
//                     border-bottom-right-radius: 1000px;
//                     border-top-right-radius: 1000px;
//                 }
//             }
//         }
//     }
// }
// @for $list from 2 through 4 {
//     .button-group.list-#{$list} > li {
//         float: left;
//         display: inline-block;
//         margin: 0 !important;
//         width: 100% / $list;
//         .button {
//             width: 100%;
//         }
//     }
// }
