$input-focus-color: #2196f3;
$formfield-padding-top: 1.5rem;
$formfield-margin-bottom: 2rem;
$formfield-font-size: 1.5rem;
$formfield-bd-color: rgba(0, 0, 0, .26);
$input-height: 32px;
$form-control-border-color: #ccc;
$form-control-border-width: 1px;
$form-control-bg-color: #fff;
$form-control-border-color-focus: #999;
$form-control-bg-color-focus: #fafafa;
$form-control-height: 3.75rem;
$form-control-padding: .6rem;
$select-arrow-color: #c9c9c9;

@mixin form-field() {
    position: relative;

    display: block;

    margin-bottom: $formfield-margin-bottom;
    padding-top: $formfield-padding-top;
}

legend {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: inherit;

    display: block;

    width: 100%;
    margin-bottom: 1rem;
    padding: 0;

    color: $default-text-color;
}

label {
    font-size: 1.5rem;
    font-weight: 700;

    display: inline-block;

    max-width: 100%;
    margin-bottom: .6rem;

    cursor: default;
}

.textfield {
    @include form-field();
    & > input,
    & > textarea {
        font-size: $formfield-font-size;

        display: block;

        width: 100%;
        height: $input-height;
        padding: 0;

        color: $default-text-color;
        border: none;
        border-bottom: 1px solid $formfield-bd-color;
        border-radius: 0;
        outline: 0;
        background-color: transparent;
        background-image: none;
        box-shadow: none;
        &:focus {
            border-width: 2px;
            border-color: $input-focus-color;
            & ~ label {
                color: $input-focus-color;
            }
        }
    }
    & > input:focus {
        height: 33px;
        margin-bottom: -1px;
    }
    & > label {
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.5rem;

        position: absolute;
        top: 0;

        display: block;
        overflow-x: hidden;

        width: 100%;

        white-space: nowrap;
        text-overflow: ellipsis;

        color: #bdbdbd;
    }
}

.form-control {
    font-family: inherit;
    font-size: $formfield-font-size;

    display: block;

    width: 100%;
    height: $form-control-height;
    margin: 0 0 1.2rem 0;
    padding: $form-control-padding;

    transition: border-color .15s linear, background .15s linear;

    color: rgba(0, 0, 0, .75);
    border-width: $form-control-border-width;
    border-style: solid;
    border-color: $form-control-border-color;
    border-radius: 0;
    background-color: $form-control-bg-color;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);

    -webkit-appearance: none;
    &:focus {
        border-color: $form-control-border-color-focus;
        outline: none;
        background-color: $form-control-bg-color-focus;
    }
}

.selectfield {
    @include form-field();
    & > select {
        font-size: $formfield-font-size;

        display: block;

        width: 100%;
        height: 32px;
        padding: 0 25px 0 0;

        cursor: pointer;

        color: $default-text-color;
        border: none;
        border-bottom: 1px solid $formfield-bd-color;
        border-radius: 0;
        outline: 0;
        background-color: transparent;
        box-shadow: none;

        -webkit-appearance: none;
        &:focus {
            height: 33px;
            margin-bottom: -1px;

            border-width: 2px;
            border-color: $input-focus-color;
            outline: 0;
        }
        &:disabled {
            cursor: not-allowed;

            opacity: 1;
            color: $formfield-bd-color;
            background-color: transparent;
        }
    }
    &::after {
        position: absolute;
        top: 30px;
        right: 0;

        width: 0;
        height: 0;

        content: '';

        border-width: 8px 4px 0 4px;
        border-style: solid;
        border-color: $select-arrow-color transparent transparent transparent;
    }
}

.switchfield {
    & + & {
        margin-top: 1rem;
    }
    & > input[type='checkbox'] {
        display: none;
        &:checked + label::before {
            opacity: .5;
            background: inherit;
        }
        &:checked + label::after {
            left: 20px;

            background: inherit;
        }
    }
    & > label {
        position: relative;

        width: 40px;
        height: 0;

        cursor: pointer;
        &::before {
            position: absolute;

            width: 40px;
            height: 16px;
            margin-top: -8px;

            content: '';
            -webkit-transition: all .4s ease-in-out;
                    transition: all .4s ease-in-out;

            opacity: .3;
            border-radius: 8px;
            background: #111;
            box-shadow: inset 0 0 10px rgba(0, 0, 0, .5);
        }
        &::after {
            position: absolute;
            top: -4px;
            left: -4px;

            width: 24px;
            height: 24px;
            margin-top: -8px;

            content: '';
            -webkit-transition: all .3s ease-in-out;
                    transition: all .3s ease-in-out;

            border-radius: 1000px;
            background: white;
            box-shadow: 0 0 5px rgba(0, 0, 0, .3);
        }
    }
}

.checkboxfield {
    position: relative;
    & > input[type='checkbox'] {
        display: none;
        &:checked ~ label .box {
            border: none;
            background: $primary-color;
        }
        &:checked ~ label .check {
            -webkit-transform: rotate(45deg);
                    transform: rotate(45deg);

            opacity: 1;
        }
    }
    & > label {
        margin-bottom: 0;
        padding-left: 30px;

        cursor: pointer;
        span {
            position: absolute;
            left: 0;

            display: block;
        }
        .box {
            z-index: 9;

            width: 20px;
            height: 20px;

            border: 2px solid #ccc;
            background: #fff;
        }
        .check {
            z-index: 10;
            top: 0;
            left: 7px;

            width: 7px;
            height: 15px;

            opacity: 0;
            border: 2px solid #fff;
            border-top: none;
            border-left: none;
        }
    }
}
