@for $col from 1 through 12 {
    .col-xs-#{$col} {
        width: $col / 12 * 100%;
        position: relative;
        min-height: 1px;
        padding-left: 1rem;
        padding-right: 1rem;
        float: left;
    }
}
.row {
    @include clearfix();
    margin: 0 auto;
    width: 100%;
    .row {
        @include clearfix();
        margin: 0 -1rem;
        max-width: none;
        width: auto;
    }
}
.visible-xs-block {
    @include clearfix();
    display: block !important;
}

@for $offset from 1 through 12 {
    .offset-#{$offset} {
        margin-left: $offset / 12 * 100%;
    }
}