$list-group-margin-bottom: 1rem;
$list-group-item-padding-top: 1rem;
$list-group-item-padding-left: 1.5rem;
$list-group-item-bg-color: #fff;
$list-group-item-bd-width: 1px;
$list-group-bd-radius: 4px;
$badge-color: #908d8d;

.list-group {
    margin: 0 0 $list-group-margin-bottom;
    padding-left: 0;

    list-style: none;
}

.list-group {
    .item {
        position: relative;

        display: block;

        margin-bottom: -$list-group-item-bd-width;
        padding: $list-group-item-padding-top $list-group-item-padding-left;

        border: $list-group-item-bd-width solid #ddd;
        background-color: $list-group-item-bg-color;
        & > .badge {
            font-size: 12px;
            font-weight: 700;
            line-height: 1;

            display: inline-block;
            float: right;

            min-width: 1rem;
            padding: .3rem .7rem;

            text-align: center;
            vertical-align: middle;
            white-space: nowrap;

            color: #fff;
            border-radius: 10px;
            background-color: $badge-color;
        }
        &.active,
        &.active:focus,
        &.active:hover {
            color: #fff;
            background-color: $primary-color;
        }
    }
    &.radius {
        .item:first-child {
            border-top-left-radius: $list-group-bd-radius;
            border-top-right-radius: $list-group-bd-radius;
        }
        .item:last-child {
            border-bottom-right-radius: $list-group-bd-radius;
            border-bottom-left-radius: $list-group-bd-radius;
        }
    }
    a.item:focus,
    a.item:hover,
    button.item:focus,
    button.item:hover {
        text-decoration: none;

        color: #555;
        background-color: #f5f5f5;
    }
    a {
        color: #333;
    }
}
