$panel-margin-bottom: 2rem;
$panel-bg-color: #fff;
$panel-border-color: #ddd;
$panel-border-radius: 4px;
$panel-heading-color: #333;
$panel-header-bg-color: #f5f5f5;
$panel-title-font-size: 1.4rem;
$panel-pading: 1rem 1.5rem;

.card {
    margin-bottom: 20px;
    padding: 15px;

    border-radius: 0;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .16), 0 0 2px 0 rgba(0, 0, 0, .12);
}

.panel {
    margin-bottom: $panel-margin-bottom;

    border: 1px solid transparent;
    border-color: $panel-border-color;
    background-color: $panel-bg-color;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
            box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    &.radius {
        border-radius: $panel-border-radius;
        .panel-heading {
            border-top-left-radius: $panel-border-radius;
            border-top-right-radius: $panel-border-radius;
        }
        .panel-footer {
            border-bottom-right-radius: $panel-border-radius;
            border-bottom-left-radius: $panel-border-radius;
        }
    }
}

.panel-heading {
    padding: $panel-pading;

    color: $panel-heading-color;
    border-color: $panel-border-color;
    border-bottom: 1px solid transparent;
    background-color: $panel-header-bg-color;
}

.panel-body {
    padding: 1.5rem;
}

.panel-footer {
    padding: $panel-pading;

    border-top: 1px solid $panel-border-color;
    background-color: $panel-header-bg-color;
}

.panel-title {
    font-size: $panel-title-font-size;

    margin-top: 0;
    margin-bottom: 0;

    color: inherit;
}
