$tab-active-color: #2196f3;
$tab-li-a-height: 5rem;
$tab-li-a-padding: 2.5rem;
$tab-font-size: 14px;
.tabs {
    overflow-x: auto;

    margin-bottom: 0;
    padding-left: 0;

    list-style: none;

    white-space: nowrap;

    background-color: transparent;
    & > li {
        display: inline-block;
        & > a {
            font-size: $tab-font-size;
            font-weight: 500;
            line-height: $tab-li-a-height;

            display: block;

            height: $tab-li-a-height;
            padding-right: $tab-li-a-padding;
            padding-left: $tab-li-a-padding;

            user-select: none;
            white-space: nowrap;
            text-transform: uppercase;

            color: $default-text-color;
        }
        &.active {
            border-bottom: 2px solid $tab-active-color;
            & > a {
                color: $tab-active-color;
            }
        }
    }
    &.justified {
        display: table;

        width: 100%;

        table-layout: fixed;
        & > li {
            display: table-cell;

            text-align: center;
        }
    }
}
