$iphone5-max-width : 321px;
$iphone6-max-width : 376px;
$iphone6p-min-width: 410px;
//定义media-queries的最小最大宽度,主要以iPhone各型号为标准
@mixin iphone5() {
    @media screen and (max-width: $iphone5-max-width) {
        @content;
    }
}

@mixin iphone6() {
    @media screen and (max-width: $iphone6-max-width) {
        @content;
    }
}

@mixin iphone6p() {
    @media screen and (min-width: $iphone6p-min-width) {
        @content;
    }
}
html * {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}
@include iphone6() {
    html {
        font-size: 10px;
    }
}

@include iphone5() {
     html {
        font-size: 9px;
    }
}

@include iphone6p() {
     html {
        font-size: 11px;
    }
}

textarea {
    height: auto;
    min-height: 50px;
}

body {
    background: #fff;
    color: #333;
    padding: 0;
    margin: 0 auto;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 140%;
    line-height: 1.5;
    position: relative;
    cursor: auto;
    max-width: 600px;
}

div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}


/* Lists */

ul,
ol,
dl {
    font-family: inherit;
    font-size: 1.4rem;
    line-height: 1.6;
    list-style-position: outside;
    margin-bottom: 1.11111rem;
}

time {
    font-size: $time-fontsize;
    color: $time-color;
}

a {
    color: $anchor-font-color;
    line-height: inherit;
    font-size: inherit;
    text-decoration: $anchor-text-decoration;
    &:hover,
    &:focus {
        color: $anchor-font-color-hover;
    }
    img {
        border: none;
    }
}

p {
    font-size: $paragraph-font-size;
    font-weight: normal;
    line-height: $paragraph-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #222;
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    line-height: 1.4;
    margin-bottom: 0.6rem;
    margin-top: 0.3rem;
    text-rendering: optimizeLegibility;
}

h1 {
    font-size: 2.95rem;
}

h2 {
    font-size: 2.55rem;
}

h3 {
    font-size: 2.15rem;
}

h4 {
    font-size: 1.75rem;
}

h5 {
    font-size: 1.35rem;
}

h6 {
    font-size: 1rem;
}

hr {
    border: solid $hr-border-color;
    border-width: $hr-border-width 0 0;
    clear: both;
    height: 0;
    margin: $hr-margin 0;
}
