// main colors
$primary-color: #1077CF;
$success-color: #3DCC7E;
$danger-color: #F44336;
$dark-color: #444;
$default-text-color: rgba(0,0,0,.87);

// type, html element
$time-fontsize: 1.275rem;
$time-color: #9E9E9E;

$anchor-font-color: #008CBA;
$anchor-text-decoration: none;
$anchor-font-color-hover:#0078a0;

$paragraph-font-size: 1.4rem;
$paragraph-line-height: 1.6;

$hr-border-color: #DDD;
$hr-border-width: 1px;
$hr-margin: 1.4rem;

// list-group
$list-group-margin-bottom: 1rem;
$list-group-item-padding-top: 1rem;
$list-group-item-padding-left: 1.5rem;
$list-group-item-bg-color: #fff;
$list-group-item-bd-width: 1px;
$list-group-bd-radius: 4px;
$badge-color: #908D8D;


