// main colors
$info-color: #4DD4E9;
$primary-color: rgb(16,108,200);
$success-color: #02CC0D;
$warning-color: #F2C049;
$danger-color: rgb(244,67,54);
$dark-color: #444;
$default-color: #e7e7e7;

$info-box-shadow-color: #4DD4E9;
$primary-box-shadow-color: rgb(16,108,200);
$success-box-shadow-color: #02CC0D;
$warning-box-shadow-color: #F2C049;
$danger-box-shadow-color: rgb(244,67,54);
$dark-box-shadow-color: #444;
$default-box-shadow-color: #e7e7e7;

$info-color-border: #1aacc3;
$primary-color-border: #007095;
$success-color-border: #498f24;
$warning-color-border: #EBAC30;
$danger-color-border: #cc2311;
$dark-color-border: #302E2E;
$default-color-border: #b9b9b9;

// button and button-group
$btn-radius: 4px;
$btn-padding-horizontal-default: 2.2rem;
$btn-padding-vertical-default: 1rem;
$btn-fontsize-default: 1.5rem;

$btn-padding-horizontal-sm: 1.8rem;
$btn-padding-vertical-sm: 0.8rem;
$btn-fontsize-sm: 1.25rem;

$btn-padding-horizontal-large: 2.6rem;
$btn-padding-vertical-large: 1.375rem;
$btn-fontsize-large: 1.8rem;

// type, html element
$time-fontsize: 1.275rem;
$time-color: #9E9E9E;

$anchor-font-color: #008CBA;
$anchor-text-decoration: none;
$anchor-font-color-hover:#0078a0;

$paragraph-font-size: 1.4rem;
$paragraph-line-height: 1.6;

$hr-border-color: #DDD;
$hr-border-width: 1px;
$hr-margin: 1.4rem;

// form
$form-group-margin-bottom: 1.5rem;
$form-control-radius: 4px;

$form-control-border-color: #ccc;
$form-control-border-width: 1px;
$form-control-bg-color: #fff;

$form-control-border-color-focus: #999;
$form-control-bg-color-focus: #fafafa;

$form-control-height-default: 4rem;
$form-control-padding-default: 0.6rem;
$form-control-font-size-default: 1.5rem;

$form-control-height-sm: 3rem;
$form-control-padding-sm: 0.4rem;
$form-control-font-size-sm: 1.28rem;

$form-control-height-lg: 5rem;
$form-control-padding-lg: 1rem;
$form-control-font-size-lg: 1.6rem;

$input-group-addon-bg: #f2f2f2;
$prefix-color: #333;
$prefix-border-width: 0;
$prefix-radius: 4px;

// well
$well-margin-bottom: 2rem;
$well-bg-color-warning: #fcf8e3;
$well-bg-color-info: #d9edf7;
$well-bg-color-dark: #353030;
$well-bg-color-primary: #337ab7;
$well-bg-color-danger: #f2dede;
$well-bg-color-success: #dff0d8;

$well-padding-default: 1.85rem;
$well-bg-color-default: #f5f5f5;
$well-border-default: #e3e3e3;
$well-color: #333;

$well-padding-sm: 1rem;
$well-padding-lg: 2.4rem;
$well-bg-default: #f5f5f5;
$well-border-default: #e3e3e3;
$well-radius: 4px;

// list-group
$list-group-margin-bottom: 1rem;
$list-group-item-padding-top: 1rem;
$list-group-item-padding-left: 1.5rem;
$list-group-item-bg-color: #fff;
$list-group-item-bd-width: 1px;
$list-group-bd-radius: 4px;
$badge-color: #908D8D;


