<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <title>auxiliary</title>
    <link rel="stylesheet" href="../css/cake.css">
</head>

<body>
    <div class="container">
        <hr>
        <h1>辅助样式</h1>
        <div class="well text-center">default text-center</div>
        <div class="well sm warning">sm warning</div>
        <div class="well dark text-left">dark text-left</div>
        <div class="well primary text-right">primary text-right</div>
        <div class="well danger text-justify">danger text-justify</div>
        <div class="well success text-nowrap">success text-nowrap</div>
        <div class="well info lg radius">well radius lg</div>
        <div class="well">
            <p>a标签</p>
            <a href="" class="nostyle">nostyle</a>
            <a href="">default</a>
        </div>
        <div class="well">
            <p>隐藏和显示</p>
            show hide opacity invisible
        </div>
        <div class="well">
            <p>快速浮动</p>
            left right
        </div>
        <div class="well">
            <p>清除浮动</p>
            clearfix
        </div>
        <div class="well">
            <p>块元素居中</p>
            center-block
        </div>
    </div>
</body>

</html>
