<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <title>form</title>
    <link rel="stylesheet" href="../css/cake.css">
</head>

<body>
    <div class="container">
        <h2>button</h2>
        <button class="button primary">按钮</button>
        <button class="button primary" disabled>disabled</button>
        <button class="button primary danger">danger</button>
        <hr>
        <button class="button success fab">+</button>
        <button class="button">default</button>
        <button class="button round">default</button>
        <button class="button success large">large</button>
        <button class="button success sm">sm</button>
        <hr>
        <button class="button block" disabled="disabled">button</button>
        <button class="button dark block">button</button>
        <hr>
         <button class="button primary flat">button</button>
        <button class="button success flat" disabled>disabled</button>
        <button class="button dark flat">danger</button>
    </div>
    <script>
        document.body.addEventListener('touchstart', function () { });
    </script>
</body>

</html>
