<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <title>form</title>
    <link rel="stylesheet" href="../css/cake.css">
</head>

<body>
    <div class="container">
        <h2>button</h2>
        <button class="btn warning border">button</button>
        <button class="btn success radius">button</button>
        <button class="btn success round" disabled="disabled">button</button>
        <hr>
        <button class="btn default block" disabled="disabled">button</button>
        <button class="btn dark block" disabled="disabled">button</button>
        <hr>
        <h2>button-group</h2>
        <ul class="btn-group radius">
            <li><button class="btn primary">button</button></li>
            <li><button class="btn primary">button</button></li>
            <li><button class="btn primary">button</button></li>
        </ul>
        <hr>
        <ul class="btn-group round">
            <li><button class="btn info">button</button></li>
            <li><button class="btn info">button</button></li>
            <li><button class="btn danger">button</button></li>
        </ul>
        <hr>
        <ul class="btn-group list-2">
            <li><button class="btn info">button</button></li>
            <li><button class="btn info">button</button></li>
        </ul>
        <hr>
        <ul class="btn-group list-4">
            <li><button class="btn danger">button</button></li>
            <li><button class="btn primary">button</button></li>
            <li><button class="btn success">button</button></li>
            <li><button class="btn dark">button</button></li>
        </ul>
    </div>
</body>

</html>
