<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <title>form</title>
    <link rel="stylesheet" href="../css/cake.css">
</head>

<body>
    <div class="container">
        <form>
            <legend>标题</legend>
            <div class="textfield">
                <input type="text" placeholder="请填写邮箱">
            </div>
            <div class="textfield">
                <textarea placeholder="请输入评论"></textarea>
            </div>
            <div class="textfield">
                <input type="text">
                <label>请填写邮箱</label>
            </div>
            <div class="textfield">
                <textarea></textarea>
                <label>请输入评论</label>
            </div>
            <h3>form-control</h3>
            <input type="text" class="form-control">
            <h3>select</h3>
            <div class="selectfield">
                <select>
                    <option>Option 1</option>
                    <option>Option 2</option>
                    <option>Option 3</option>
                    <option>Option 4</option>
                </select>
            </div>
            <h3>switch</h3>
            <div class="switchfield">
                <input id="demo-switch" type="checkbox">
                <label for="demo-switch" class="primary-bg"></label>
            </div>
            <div class="switchfield">
                <input id="demo-switch1" type="checkbox">
                <label for="demo-switch1" class="success-bg"></label>
            </div>
            <h3>checkbox</h3>
            <div class="checkboxfield">
                <input type="checkbox" id="check3">
                <label for="check3">
                    <span class="check"></span>
                    <span class="box"></span> checkbox1
                </label>
            </div>
        </form>
    </div>
</body>

</html>
