<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <title>image</title>
    <link rel="stylesheet" href="../css/cake.css">
</head>

<body>
    <div class="container">
        <h1>image</h1>
        <hr>
        <img src="http://t1.qpic.cn/mblogpic/464ffaf83895463305cc/460" class="img-circle" alt="" width="200" height="200">
        <img src="http://t1.qpic.cn/mblogpic/464ffaf83895463305cc/460" class="img-radius" alt="" width="200" height="200">
        <h1>image-block</h1>
        <img src="http://t1.qpic.cn/mblogpic/464ffaf83895463305cc/460" class="img-block" alt="">
        <h1>image-group</h1>
        <hr>
        <div class="img-group">
            <img src="http://t1.qpic.cn/mblogpic/464ffaf83895463305cc/460" alt="">
            <img src="http://t1.qpic.cn/mblogpic/464ffaf83895463305cc/460" alt="">
            <img src="http://t1.qpic.cn/mblogpic/464ffaf83895463305cc/460" alt="">
        </div>
    </div>
</body>

</html>





