<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <title>list-group</title>
    <link rel="stylesheet" href="../css/cake.css">
</head>

<body>
    <div class="container">
        <h1>list-group</h1>
        <ul class="list-group">
            <li class="item">Cras justo odio</li>
            <li class="item">Dapibus ac facilisis in</li>
            <li class="item active">item active</li>
            <li class="item">Porta ac consectetur ac</li>
            <li class="item">Vestibulum at eros</li>
        </ul>
        <h1>div a</h1>
        <div class="list-group radius">
            <a href="" class="item">Cras justo odio <span class="badge">12</span></a>
            <a href="" class="item">Dapibus ac faciasis in</a>
            <a href="" class="item">Morbi leo risus <span class="badge">badge</span></a>
            <a href="" class="item">Porta ac consectetur ac</a>
            <a href="" class="item">Vestibulum at eros</a>
        </div>
        <h1>list-group radius</h1>
        <ul class="list-group radius">
            <li class="item">Cras justo odio <span class="badge">12</span></li>
            <li class="item">Dapibus ac facilisis in</li>
            <li class="item">Morbi leo risus <span class="badge">badge</span></li>
            <li class="item">Porta ac consectetur ac</li>
            <li class="item">Vestibulum at eros</li>
        </ul>
    </div>
</body>

</html>
