<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <title>panel</title>
    <link rel="stylesheet" href="../css/cake.css">
</head>

<body>
    <div class="container">
        <h1>panel</h1>
        <div class="panel">
            <div class="panel-heading ">
                Panel heading without title
            </div>
            <div class="panel-body">
                Panel content
            </div>
            <div class="panel-footer">
                Panel footer
            </div>
        </div>
        <h1>panel radius</h1>
        <div class="panel radius">
            <div class="panel-heading">
                <h3 class="panel-title">Panel title</h3>
            </div>
            <div class="panel-body">
                Panel content
            </div>
        </div>
        <h1>card</h1>
        <div class="card">card</div>
    </div>
</body>

</html>
