<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <title>form</title>
    <link rel="stylesheet" href="../css/cake.css">
</head>

<body>
    <h1>tabs</h1>
    <ul class="tabs">
        <li class="active"><a>Tab-1</a></li>
        <li><a>Tab-2</a></li>
        <li><a>Tab-3</a></li>
    </ul>
    <h1>tabs justified</h1>
     <ul class="tabs justified">
        <li class="active"><a>Tab-1</a></li>
        <li><a>Tab-2</a></li>
        <li><a>Tab-3</a></li>
    </ul>
</body>

</html>
