<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <title>well</title>
    <link rel="stylesheet" href="../css/cake.css">
</head>

<body>
    <div class="container">
       <h1>well</h1>
       <div class="well">well</div>
       <div class="well sm">well sm</div>
       <div class="well lg">well lg</div>
       <div class="well danger">danger</div>
       <div class="well success">success</div>
       <div class="well dark">dark</div>
       <div class="well primary">primary</div>
       <div class="well primary radius">primary radius</div>
    </div>
</body>

</html>
