<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="UTF-8">
    <title>whiteframe</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="../css/cake.min.css">
    <style>
        .row {
            margin-top: 2rem;
        }
    </style>
</head>

<body>
    <div class="container">
    <br><br>
        <div class="row">
            <div class="column-3"><button class="button white whiteframe-1dp">1dp</button></div>
            <div class="column-3"><button class="button white whiteframe-2dp">2dp</button></div>
            <div class="column-3"><button class="button white whiteframe-3dp">3dp</button></div>
            <div class="column-3"><button class="button white whiteframe-4dp">4dp</button></div>
        </div>
        <div class="row">
            <div class="column-3"><button class="button white whiteframe-5dp">5dp</button></div>
            <div class="column-3"><button class="button white whiteframe-6dp">6dp</button></div>
            <div class="column-3"><button class="button white whiteframe-7dp">7dp</button></div>
            <div class="column-3"><button class="button white whiteframe-8dp">8dp</button></div>
        </div>
        <div class="row">
            <div class="column-3"><button class="button white whiteframe-9dp">9dp</button></div>
            <div class="column-3"><button class="button white whiteframe-10dp">10dp</button></div>
            <div class="column-3"><button class="button white whiteframe-11dp">11dp</button></div>
            <div class="column-3"><button class="button white whiteframe-12dp">12dp</button></div>
        </div>
        <div class="row">
            <div class="column-3"><button class="button white whiteframe-13dp">13dp</button></div>
            <div class="column-3"><button class="button white whiteframe-14dp">14dp</button></div>
            <div class="column-3"><button class="button white whiteframe-15dp">15dp</button></div>
            <div class="column-3"><button class="button white whiteframe-16dp">16dp</button></div>
        </div>
        <div class="row">
            <div class="column-3"><button class="button white whiteframe-17dp">17dp</button></div>
            <div class="column-3"><button class="button white whiteframe-18dp">18dp</button></div>
            <div class="column-3"><button class="button white whiteframe-19dp">19dp</button></div>
            <div class="column-3"><button class="button white whiteframe-20dp">20dp</button></div>
        </div>
        <div class="row">
            <div class="column-3"><button class="button white whiteframe-21dp">21dp</button></div>
            <div class="column-3"><button class="button white whiteframe-22dp">22dp</button></div>
            <div class="column-3"><button class="button white whiteframe-23dp">23dp</button></div>
            <div class="column-3"><button class="button white whiteframe-24dp">24dp</button></div>
        </div>
    </div>
</body>

</html>
